body, html {
  height: 100%;
}

body {
  background: url('brushed.png');
  font-size: 100%;
  line-height: 1.5em;
  margin: 0;
}

a {
  color: #23a;
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

aside {
  background: rgba(33, 83, 63, 0.1);
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

aside h3 {
  color: #555;
  font-weight: 300;
  text-shadow: none;
}

aside p {
  color: #555;
  font-size: 0.8em;
}

b {
  font-family: "PT Sans", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

code {
  background: #ddd;
  font-family: "PT Mono", monospace;
  padding: 0 0.2em;
  white-space: nowrap;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3em;
  text-transform: uppercase;
}

h1 {
  font-size: 300%;
  font-weight: 800;
  margin: 0;
}

h2 {
  font-size: 125%;
  font-weight: 300;
  margin-top: 0;
}

h3 {
  color: #a63100;
  font-size: 150%;
  font-weight: 800;
  margin: 0;
}

h4 {
  color: #bf5b30;
  font-size: 80%;
  font-weight: 800;
  margin: 0;
}

header {
  background: linear-gradient(to top left, #21533f 0%, #224437 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.8);
  color: #fff;
  margin-bottom: 1em;
}

header p {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  margin-bottom: 1em;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

p {
  color: #333;
  font-family: "PT Serif", serif;
  font-weight: 400;
  margin-bottom: 0;
  text-align: justify;
}

h1 + p, h2 + p, h3 + p, h4 + p {
  margin-top: 0;
}

section + section, p + section {
  margin-top: 1em;
}

strong {
  font-weight: 600
}

#page {
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.1em;
  min-height: 100%;
}

.container {
  margin: auto;
  max-width: 960px;
  min-height: 100%;
}
